@media print {
    nav {
        display: none;
    }
}
@media screen {
    .print-only {
        display: none;
    }
}

@media print {
    .screen-only {
        display: none;
    }
}
/* Page-breaking */
.page-break-before { page-break-before: always }
.page-break-after { page-break-after: always }
p {
    page-break-inside: avoid;
}
@page :left {
  margin-left: 5cm;
  margin-right: 3cm;
}

@page :right {
  margin-left: 5cm;
  margin-right: 3cm;
}